=render "layouts/aheader" 
Helllo admin
.ui.vertical.menu
  .item
    .header Images
    .menu
      %a.item Pending approval
      %a.item Disapproved
  .item
    .header All Users
    .menu
      %a.item Contributors
      %a.item Models
      %a.item Photographers
      %a.item MUAs
  .item
    .header Hosting
    .menu
      %a.item Shared
      %a.item Dedicated
  .item
    .header Content
    .menu
      %a.item.active Terms
      %a.item Privacy    
      %a.item FAQs