<%= render 'layouts/menu' %>
<div class="container" style="margin-top: 5rem;">
	<div class="row">
		<div id="masonry-grid">
			<% @photos.each do |photo| %>
			<div>
				<p>phots by <%#= photo.username%></p>
			</div>
			<div id="picha">
				<div class="ui card">
					<div class="image">
		  				<%#= photo.inspect %>
						<%= image_tag photo.image(:medium) %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	var $container = jQuery('#masonry-grid');
    // initialize
    $container.masonry({
      columnWidth: 50,
      itemSelector: '#picha'
    });
</script>


<h1>EXPERIMENT ON Zed CARDS </h1>
<div id="elastic_grid_demo"></div>

<!-- Initial Script -->
    <script type="text/javascript">
     
        $(function(){
     
            $("#elastic_grid_demo").elastic_grid({
                'items' :
                [
                    {
                        'title'         : 'Title #1',
                        'description'   : ' Description text here',
                        'thumbnail'     : ['http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/images/5.jpg', 'http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/images/5.jpg'],
                        'large'         : ['http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/images/5.jpg', 'http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/images/5.jpg'],
                        'button_list'   :
                        [
                            { 'title':'Demo', 'url' : 'http://bonchen.net/' },
                            { 'title':'Download', 'url':'http://porfolio.bonchen.net/'}
                        ],
                        'tags'          : ['Portrait']
                    },
                    {
                        'title'         : 'Title #2',
                        'description'   : 'Description text here',
                        'thumbnail'     : ['images/small/4.jpg', 'images/small/5.jpg'],
                        'large'         : ['images/large/4.jpg', 'images/large/5.jpg'],
                        'button_list'   :
                        [
                            { 'title':'Demo', 'url' : 'http://bonchen.net/' },
                            { 'title':'Download', 'url':'http://porfolio.bonchen.net/'}
                        ],
                        'tags'          : ['Vintage']
                    },
                    {
                        'title'         : 'Title #3',
                        'description'   : 'Description text here',
                        'thumbnail'     : ['images/small/15.jpg', 'images/small/2.jpg'],
                        'large'         : ['images/large/15.jpg', 'images/large/2.jpg'],
                        'button_list'   :
                        [
                            { 'title':'Demo', 'url' : 'http://bonchen.net/' },
                            { 'title':'Download', 'url':'http://porfolio.bonchen.net/'}
                        ],
                        'tags'          : ['BW']
                    }
                ]
            });
        });
    </script>