-if user_signed_in?
-else
  = render 'layouts/menu'
  / end
  / <h1>Hello</h1>
  / banner and search
  .banner
    %center
      #search.ui.action.input
        %input{:placeholder => "Search Images , Models ...", :type => "text"}/
        %select.ui.compact.selection.dropdown
          %option{:selected => "all"} All
          %option{:value => "selected", :value => "articles"} Images
          %option{:value => "products"} Models
          %option{:value => "products"} MUA
        .ui.button{:type => "submit"} Search
  / end
  .ui.container{style: 'margin-top: 1em;'}
    .ui.grid.centered
      .fifteen.wide.column
        .ui.top.attached.tabular.menu{style: "width: 100%"}
          %a.active.item{"data-tab" => "first"} All
          %a.item{"data-tab" => "second"} Images
          %a.item{"data-tab" => "third"} Make Up Artists
          %a.item{"data-tab" => "four"} Photographers
          %a.item{"data-tab" => "five"} Models

        .ui.bottom.attached.tab.segment.active{"data-tab" => "first"}
          
          #masonry-grid{style: 'margin-left: 8%;'}
            -@photos.each do |p|
              #picha
                .ui.card
                  .image
                    = image_tag p.image(:medium)

          :javascript
            var $container = jQuery('#masonry-grid');
            // initialize
            $container.masonry({
              columnWidth: 50,
              itemSelector: '#picha'
            });

        .ui.bottom.attached.tab.segment{"data-tab" => "second"}
          Images
        .ui.bottom.attached.tab.segment{"data-tab" => "third"}
          MUA
        .ui.bottom.attached.tab.segment{"data-tab" => "four"}
          Photographers
        .ui.bottom.attached.tab.segment{"data-tab" => "five"}
          Models
  = render "layouts/footer"
   
  
  :javascript
    $(document).ready(function(){
      $('.tabular.menu .item').tab();
    });
    $('.menu .item').tab();