-if user_signed_in?
  = render 'home/menu'

-else
  = render 'layouts/menu'
  / end
  / <h1>Hello</h1>
  / banner and search
  .banner
    %center
      #search.ui.action.input
        %input{:placeholder => "Search Images , Models ...", :type => "text"}/
        %select.ui.compact.selection.dropdown
          %option{:value => "all"} All
          %option{:selected => "selected", :value => "articles"} Images
          %option{:value => "products"} Models
          %option{:value => "products"} MUA
        .ui.button{:type => "submit"} Search
  / end
  .ui.top.attached.tabular.menu
    %a.item.active{"data-tab" => "first"} First
    %a.item{"data-tab" => "second"} Second
    %a.item{"data-tab" => "third"} Third
  .ui.bottom.attached.tab.segment.active{"data-tab" => "first"}
    First
  .ui.bottom.attached.tab.segment{"data-tab" => "second"}
    Second
  .ui.bottom.attached.tab.segment{"data-tab" => "third"}
    Third
  = render "layouts/footer"


  
