=render 'layouts/pheader'
%br
%br
=image_tag("logo.png")
%center
	#searchb.ui.action.input
		%input{:placeholder => "Search Models...", :type => "text"}
			%button.ui.icon.button
				%i.search.icon

#masonry-grid{style: 'margin-left: 8%;'}
	-@photos.each do |p|
		#picha
			.ui.card
				.image
					= image_tag p.image(:large) if p.role_photo == "model"