<div class="ui row">
  <div class="ui spacer"></div>
  <div class="ui col-md-12">
    <%= link_to "Compose", new_conversation_path, class: "ui green button" %>
    <div class="ui spacer"></div>
  </div>
<br>
<br>
  <div class="col-md-4">
    <div class="ui panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
      </div>
    </div>
  </div>
</div>