= render 'layouts/pheader'
%br

%center
	.ui.header
		%h2 About Us
%center
	.ui.padded.segment
		
		%p{style: 'margin-left: 25%; margin-right:25%;'}  Welcome to Ivertise Africa, We aim to make image based communication easier for Brands targeting Africans.We do so by providing access to commercial photography in the form of stock and assignment photography.  We focus on Photography because it is crucial to the promotion of business as images are a powerful tool for persuasion. Moreover, 93% of communication is nonverbal. In addition to photography, we provide professional models and makeup artists to enhance your advertising campaigns.
		%br
		%h4 Stock Photography
		%p{style: 'margin-left: 25%; margin-right:25%;'} Our images of Africa depict Africa in its true form whether you seek people in an urban or rural setting, studio images, family portraits or people in business amongst other requirements; we aim to satisfy your imagery needs. Search our database and be amazed. Our images are all High Resolution captured using Digital single-lens Reflex (DSLR) camera’s by professional photographers throughout Africa. We provide Royalty Free and Rights Managed images inclusive of release forms for your commercial use. We also have a collection of Editorial images.

		%h4 Models
		%p{style: 'margin-left: 25%; margin-right:25%;'} Searching for models has never been easier, simply select the details of the type of model you seek to find and choose the model that suits your need. In addition to assignment photography uses, our models may be hired for other jobs such as Television Commercials, Brand Activation’s and Fashion Shows.

		%h4 Assignment Photography
		%p{style: 'margin-left: 25%; margin-right:25%;'} Are you seeking to hire a commercial photographer? Look no further. We offer a list of photographers that practice commercial photography genres. Enquire about our database off Portrait, Product, Fashion, Event or any other type of commercial photography.

		%h4 Makeup Artists
		%p{style: 'margin-left: 25%; margin-right:25%;'} Our database of Makeup artists will interpret your makeup requirements and produce both a creative and technically accurate visual representation. Contact us and for your Beauty, Fashion, Theatre or Television makeup needs.

