= render 'layouts/pheader'
%br
%br
.h1.ui.header Feel free to drop us a line 
.ui.form
  .two.fields
    .two.wide.required.field
      %label Names
      %input{:placeholder => "Names", :type => "text"}
    .two.wide.required.field
      %label Email
      %input{:placeholder => "Email", :type => "text"}
.ui.form
  .six.wide.required.field
    %label Message
    %textarea
%br
.ui.green.button Send

= render "layouts/footer"

