<div class="ui fixed white menu" style="margin-bottom: 450px;">
    <div class="ui container">
   <!-- 
      <a href="#" class="header item">
      </a> -->
      <a href="#" class="item">Home</a>
      <!-- <div class="ui simple dropdown item">
     <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div> -->
      <a href="#" class="item">Images</a>
      <a href="#" class="item">Photographers</a>
      <a href="#" class="item">MUA</a>
      <a href="#" class="item">Models</a>
    </div>
  </div>
  <br>
  <br>
     <%=image_tag("logo.png")%>