= render 'home/menu'

:css
  .top{
    margin-top: 2%;
  }

.top
  #elastic_grid_demo

  #masonry-grid{style: 'margin-left: 8%;'}
    %center
      -@pic.each do |p|
        #picha
          .ui.card
            .image
              = image_tag p.image(:large)

              / = p.role_photo

= current_user.role.name
/ - if @posts.present?
/   = render @posts
/ - else
/   %p
/     There are no posts containing the term(s) #{params[:search]}

:javascript
  $(document).ready(function(){
    var $container = jQuery('#masonry-grid');
    // initialize
    $container.imagesLoaded(function(){
      $container.masonry({
        columnWidth: 50,
        itemSelector: '#picha'
      });
    });
  });

  $(function(){
    $('#elastic_grid_demo').elastic_grid({
      'showAllText' : 'All',
      'items': [{}]
    });
  });
