= render 'home/menu'


#masonry-grid{style: 'margin-left: 8%;'}
  %center
    -@pic.each do |p|
      #picha
        .ui.card
          .image
            = image_tag p.image(:medium)

:javascript
  $(document).ready(function(){
    var $container = jQuery('#masonry-grid');
    // initialize
    $container.masonry({
      columnWidth: 50,
      itemSelector: '#picha'
    });
  });
    