<<<<<<< HEAD
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
=======
@import 'semantic-ui';
>>>>>>> f315628a197f98f8ecb106cb3b6cef5c0038e1b5
.banner{
	background:url("searchbac.jpg");
	height:400px;
	padding-top:200px;
	}
#search {width:600px !important;}