/ footer
.ui.footer.segment
  .ui.center.aligned.container
    .ui.stackable.divided.grid
      .three.wide.column

      .ui.link.list
        =link_to "About us" ,about_path , :class => "item"
 
   
      .seven.wide.column
        %h4.ui.header Social 
        %a{:href => "https://web.whatsapp.com"}
          %i.whatsapp.icon 
        %a{:href => "https://www.facebook.com"}
          %i.facebook.icon
        %a{:href => "https://www.google.com"}
          %i.google.plus.icon
        %a{:href => "https://www.twitter.com"}
          %i.twitter.icon
         
    .ui.section.divider
    = image_tag("logo.png")
    %br/
    .ui.horizontal.small.divided.link.list
      =link_to 'Site Map', '', class: 'item'
      =link_to 'Contact Us', contact_path, class: 'item'
      =link_to 'Terms and Conditions', terms_path, class: 'item'
      =link_to 'Privacy Policy', privacy_path, class: 'item'

      