/ header

.ui.fixed.white.menu{:style => "margin-bottom: 50px"}
  .ui.container
    = image_tag("logo.png")
    %a.header.item{:href => "#"}
    = link_to "Home" , root_path , :class =>"item"
    /
      <div class="ui simple dropdown item">
      <i class="dropdown icon"></i>
      <div class="menu">
      <a class="item" href="#">Link Item</a>
      <a class="item" href="#">Link Item</a>
      <div class="divider"></div>
      <div class="header">Header Item</div>
      <div class="item">
      <i class="dropdown icon"></i>
      Sub Menu
      <div class="menu">
      <a class="item" href="#">Link Item</a>
      <a class="item" href="#">Link Item</a>
      </div>
      </div>
      <a class="item" href="#">Link Item</a>
      </div>
      </div>
    =link_to 'Images', home_images_path, class: 'item'
    =link_to 'Models', home_models_path, class: 'item'
    =link_to 'Photographers', home_photographers_path, class: 'item'
    =link_to 'MUA', home_muas_path, class: 'item'

  = link_to 'Register', new_user_registration_path, class: 'item'
  = link_to 'Login', new_user_session_path, class: 'item'
  -if signed_in?
    =link_to "Log Out" ,destroy_user_session_path ,class: 'item'